body {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
    font-size: 13px;
}

::selection{ background-color: transparent;}
::moz-selection{ background-color: transparent;}
::webkit-selection{ background-color: transparent;}


#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
	z-index: 999;
    height: 30px;
    background-color: #283949;
    color:#FFFFFF;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    color:black;
}


/***** MANAGER RELATED PART********/
.manager-content, .myContent{
    margin-top: 40px;
}

.show-current-dir{
    display:block;
    font-weight: bolder;
/*    line-height: 39px;*/
    font-size:15px;
    border-bottom: 1px solid #6F7982;
    padding-top: 10px;
    padding-bottom: 10px;
/*    height: 41px;*/
	min-height:20px;
	
}
.target-dir{
    overflow: auto;
}

.target-dir .item-container{
    float:left;
    display:inline-block;
}
.item-container div{
    height: 30px; 
	float:left; 
	display: inline-block;
}
.item-container .icon{
    width:30px;
}

.target-dir ul{
    list-style-type: none;
    list-style:none;
    padding-left:0;
    overflow: auto;
}
.target-dir ul li{
/*    float:left;*/
    display:inline-block;
    /*width:50%;*/
    /*height:30px;*/
    padding: 8px;
	border-radius: 3px;
    margin:3px;
/*    line-height: 20px;*/
/*    background-color: #485563;*/
}

.target-dir ul li:hover{
    background-color: #DDD !important;
    /*border:1px solid #3C4956;*/
}

.target-dir ul li.item{
/*    background:url('../images/folder-white.png') no-repeat left top;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.target-dir ul li.item.file{
/*    background:url('../images/file-white.png') no-repeat;*/
}

.target-dir ul li.up{
    background:url('../images/up-white.png') no-repeat left top;
    width:98%;
    clear:both;
}
.target-dir ul li.item.selected{
    background-color: #3a4653;
    color: #0CECFC;
}
.target-dir .two li{
    width:48%;
}
.target-dir .four li{
    width:24%;
}
.target-dir ul li{
    cursor: pointer;
}
/* right now, I don't use the checkbox concept
.target-dir ul li div[data-role="checkbox"]{
    float:left;
    display: inline-block;
    width:21px; 
    height:21px;
}
.target-dir ul li div.not-checked[data-role="checkbox"]{
    background: url('../images/checkbox-sprite.png') no-repeat 0px 0px;
}
.target-dir ul li div.checked[data-role="checkbox"]{
    background: url('../images/checkbox-sprite.png') no-repeat -22px 0px;
}*/


#in_projectDir{
    background-color: #F5F5F5;
}


.myContent{
    padding-top: 54px;
}

div[data-role^="template"]{
    display:none;
}

.projects div[class^="col-md-"]{
    padding:0px;
}
.projects .item-block{
    color: rgb(235,235,235);/*#B6D1EA;*/
    min-height: 32px;
    margin:0px 0px 6px 0px;
    padding:18px;
    background-color: #283B4C;/*#283949;*/
    border:1px solid #283B4C;
    border-radius: 4px;
    cursor: default;
     display:inline-block;
     width: 100%;
    
}
.projects .item-block .name{
    display:inline-block;
    width:88.5%;
    font-size: 19px;
    float:left;
}
.projects .item-block .action-pane{
    display:inline-block;
    width:11.5%;
    float:left;
    text-align: right;
    border-left:1px solid #314354;
}
.action-pane div.button{
    display: inline-block;
    width: 25px;
    height: 25px;
    float: right;
    line-height: 24px;
    text-align: center;
    margin-left:15px;
    font-size:17px;
}
.action-pane div.button:not(.disabled):hover{
    cursor:pointer;
    background-color: transparent;
    color:rgb(223,105,26);
}
.action-pane div[data-role="power"].button{
    color:#66cc00;
    cursor: pointer;
}
.action-pane div[data-role="power"].button.poweroff{
    color: #54687A;
    cursor:default;
}
.action-pane div[data-role="power"].button.poweroff:hover{
    background-color:transparent;
}
.action-pane .button.disabled{
    color: #54687A;
    cursor:default;
}
    

.new-edit-project div[class^="col-md-"]{
    padding:0px;
}

.bottom-alert{
    position: fixed; bottom: 30px; display: inline-block; 
    background-color: #253849; padding: 7px 20px 7px 20px;
    color:#FFFFFF; 
    margin: 2px;
}
.bottom-alert div{
    display:inline-block; float:left;
    height:32px;
}
.bottom-alert div[data-role="icon"]{
    width:32px; margin-right: 7px;
}
.bottom-alert.loading div[data-role="icon"]{
    display:none;
}
.bottom-alert.ok div[data-role="icon"]{
    background:url('../images/ok.png');
}
.bottom-alert div[data-role="message"]{
    line-height: 30px; font-weight: bold;
}

.dialog-file-list-header{
/*    overflow: auto;    -- ekim */
}
.dialog-file-list-header div[data-role="fileList_arrow_navigate"]{
    float:left;
}

.combo-edit-box{
    overflow: auto; 
    width:182px; 
    float: left;
    border: 1px solid #6F7982;
} 
.combo-edit-box div.holder{
    float:left;
}
.combo-edit-box div.holder.edit-input{
    width:145px;
}
.combo-edit-box input{
    background-color: transparent; 
    border: none !important;
    color: #EFEFEF; 
    padding: 8px 12px;
}
.combo-edit-box div.holder.select-arrow{
    cursor: default; 
    width:25px; 
    height:39px; 
    background-color:  transparent;  
    border-left: 1px solid #6F7982; 
    color:#696969;
}
.combo-edit-box div.holder.select-arrow .icon{
    margin-top:5px;
    width:24px; height:24px;
    background: url('../images/arrow486.png') no-repeat;
    
}
.combo-edit-box-options{
    margin-left: -1px;
    top:61px;
    position: absolute; 
    display: inline-block; 
    width:72px; 
    background-color: #4E5D6C;
    border-right:1px solid #6F7982; 
    border-bottom:1px solid #6F7982; 
    border-left:1px solid #6F7982; 
    z-index: 100; 
    display:none;
}
.combo-edit-box-options ul{
    list-style-type: none; 
    list-style-position: inside; 
    margin: 0px; 
    padding:0px;
}
.combo-edit-box-options ul li{
    padding: 8px 12px; 
    cursor: default;
    font-size: 15px;
}
.combo-edit-box-options ul li:hover{
    background-color: #485563;
}

.combo-edit-box.gopher-port{
    width:94px;
}
.combo-edit-box.gopher-port div.holder.edit-input{
    width:67px;
}
.combo-edit-box.gopher-port .combo-edit-box-options{
    width: 94px;
    top:41px;
    background-color: #2B3E50;
}




.new-project-files a[data-role="backward"], .new-project-files a[data-role="forward"]{
    background-color: transparent;
}

.new-project-files .btn:hover{
//    background-color: #253849;
}
.new-project-files .show-current-dir{
    border:none;
    line-height: 42px;
    width:73%;
}

.new-project-files .target-dir{
    border: 1px solid #4E5D6C;
    min-height: 300px;
    max-height: 500px;
}
button.view-ignored-file{
    
}

ul.ignored-file li{
    width: 99.2%;
}ul.ignored-file span.file-name{
    font-weight: bold;
    color: #0cecfc;
}

div[class^="col-md"].set-project-link{
    padding-top:15px;
}
.set-project-link input.standard{
//    background-color:#253849;
	height:42px;
//	color:#EFEFEF;
}
.set-project-link .text{
    line-height:39px;
}
.set-project-link div.mycol{
    float:left;
}
.set-project-link .initial{
    width:10%;
}
.set-project-link .host{
    width:90%;
}
.host .hostname{
    width:50%;
}
.host .port-seperator{
    width:2%;text-align: center;
}
.host .port{
    width:48%;
}
.set-project-link .path-seperator{
    width:2%;text-align: center;
}
.set-project-link .path{
    width:98%;
}
.port .input-group-addon{
//    background-color: #253849;
	padding:3px;
}
.port-auto{
//    background-color:#4e5d6c;
	padding:9px 10px 9px 10px;border:none;
}
.port-auto:hover{
//    background-color: #485563;
}


/***** End - MANAGER RELATED PART********/



.input-append .btn.dropdown-toggle {
//    float: none;
}